<!doctype html>
<html lang="es">

    <head>
        <title>Chayton API's Chat</title>
        <!--Link to CSS -->
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/home.css" rel="stylesheet">
        <!--Link to JS -->
        <script src="../static/home.js" lang="js"></script>
    </head>

    <body>
        <div class="content_display">
            <div class="chats_viewer">
                <div class="viewer_item user">
                    <div class="user-profile">
                        <span id="name_letter"></span>
                    </div>
                    <p id="user_name" class="font_strong">{{session['name']}}</p>
                </div>
                <div id="chats_cont">
                    <p class="title-cont">Chats</p>
                </div>
                <div id="rooms_cont">
                    <p class="title-cont">Salas</p>
                    <!-- <div class="chat">
                        <div class="chat-info">
                            <p class="chat-name font_strong"></p>
                            <p class="chat-code"></p>
                        </div>
                        <button class="chat-join">ENTRAR</button>
                    </div> -->
                </div>
            </div>
            <div class="room_creator text-center">
                <form class="form-signin" action="{{url_for('chat')}}" method="POST">
                    <h1 class="h2 mb-3 font-weight-strong">Chayton API's Chat</h1>
                    <br>
                    <div id="chats">{{session['chats']}}</div>
                    <br>
                    <input type="text" id="RoomName" name="room" class="form-control" placeholder="Sala" required autocomplete="off" autofocus><br>
                    <input type="hidden" id="room_action" value="" name="room_action">
                    <button class="btn btn-lg btn-primary btn-block" value="submit">Crear Sala</button>
                    <button class="btn btn-lg btn-secondary btn-block" value="submit">Unirse a Sala</button>
                </form>
            </div>
        </div>
        
    </body>
</html>