<!doctype html>
<html lang="es">

    <head>
        <title>Chayton API's Chat</title>
        <!--Link to CSS -->
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/home.css" rel="stylesheet">
    </head>

    <body>
        <div class="content_display">
            <div class="chats_viewer">
                <div class="viewer_item user">
                    <div class="user-profile">
                        <span id="name_letter"></span>
                    </div>
                    <p id="user_name" class="font_strong">{{session['name']}}</p>
                </div>
                <div id="chats_cont">
                    <p class="title-cont">Chats</p>
                </div>
                <div id="rooms_cont">
                    <p class="title-cont">Salas</p>
                    <!-- <div class="chat">
                        <div class="chat-info">
                            <p class="chat-name font_strong"></p>
                            <p class="chat-code"></p>
                        </div>
                        <button class="chat-join">ENTRAR</button>
                    </div> -->
                </div>
            </div>
            <div class="room_creator text-center">
                <form class="form-signin" action="{{url_for('chat')}}" method="POST">
                    <h1 class="h2 mb-3 font-weight-strong">Chayton API's Chat</h1>
                    <br>
                    <div id="chats">{{session['chats']}}</div>
                    <br>
                    <input type="text" id="RoomName" name="room" class="form-control" placeholder="Sala" required autocomplete="off" autofocus><br>
                    <input type="hidden" id="room_action" value="" name="room_action">
                    <button class="btn btn-lg btn-primary btn-block" value="submit">Crear Sala</button>
                    <button class="btn btn-lg btn-secondary btn-block" value="submit">Unirse a Sala</button>
                </form>
            </div>
        </div>
        
    </body>
    <script>
        const url = 'http://127.0.0.1:5000/';
        const rooms_cont = document.getElementById('rooms_cont');
        const chats_cont = document.getElementById('chats_cont');

        fetch("/rooms")
        .then((resp) => resp.json())
        .then(function(data) {
            return innerHTMLTo(rooms_cont, buildChatStructure(data))
        })
        .catch(function(error) {
            console.log(error);
        });

        fetch("/chats")
        .then((resp) => resp.json())
        .then(function(data) {
            return innerHTMLTo(chats_cont, buildChatStructure(data))
        })
        .catch(function(error) {
            console.log(error);
        });

        function innerHTMLTo(conteiner, elements){
            for (let i = 0; i < elements.length; i++) {
                conteiner.innerHTML+=elements[i];
            }
        }

        function buildChatStructure(roomsjs){
            let chatstr;
            let rooms = []
            for (let i = 0; i < roomsjs.length; i++) {
                chatstr = "<div class='chat'>"
                chatstr += "<div class='chat-info'>"
                chatstr += "<p class='chat-name font_strong'>"+roomsjs[i]['name']+"</p>"
                chatstr += "<p class='chat-code'>"+roomsjs[i]['_id']+"</p>"
                chatstr += "</div>"
                chatstr += "<form action='/Chaython' method='POST'>"
                chatstr += "<button class='chat-join'>ENTRAR</button>"
                chatstr += "<input type='hidden' name='room' value='"+roomsjs[i]['_id']+"'>"
                chatstr += "<input type='hidden' value='join' name='room_action'>"
                chatstr += "</form>"
                chatstr += "</div>"
                rooms.push(chatstr)
            }
            return rooms;
        }
        



        const array_actions = ['create', 'join'];
        const buttons = document.getElementsByClassName('btn-block');
        for (let index = 0; index < 2; index++) {
            const uname = document.getElementById('user_name').innerHTML;
            const name_letter = uname.charAt(0).toUpperCase();
            document.getElementById('name_letter').textContent = name_letter;

            buttons[index].addEventListener('click', function () {
                const roomName = document.getElementById('RoomName').value;
                if (roomName == '') {
                    alert('El nombre de la sala no puede estar vacia');
                    preventDefault();
                }
                else {
                    document.getElementById('room_action').value = array_actions[index];
                }
            });
        }
    </script>

</html>