<!doctype html>
<html lang="es">

    <head>
        <title>Chaython API's Chat</title>
        <!--Link to CSS -->
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
    </head>

    <body class="text-center">
        <form class="form-signin" action="{{url_for('register')}}" method="POST">
            <h1 class="h2 mb-3 font-weight-normal">Chaython APU's Chat</h1><br><br>
            <input type="text" id="username" name="name" class="form-control" placeholder="Usuario" required autocomplete="off" autofocus><br>
            <input type="password" id="pass" name="password" class="form-control" placeholder="Contraseña" required autocomplete="off"><br>
            <input type="password" id="pass2" name="password2" class="form-control" placeholder="Confirmar Contraseña" required autocomplete="off"><br>
            <button class="btn btn-lg btn-primary btn-block" value="submit">Registrarse</button>
            <hr class="hr-text" data-content="O">
            <a href="/">¿Ya tienes cuenta? Inicia Sesión</a>
        </form>
    </body>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const error = urlParams.get('error')
        if (error == 10) {
            const error_message = "<div class='errorCont'><p class='error'>Error: Ese nombre ya existe, por favor elija otro.</p></div>";
            document.getElementsByClassName('form-signin')[0].innerHTML += error_message;
        }
        else if(error == 11){
            const error_message = "<div class='errorCont'><p class='error'>Error: Las contraseñas no coinciden.</p></div>";
            document.getElementsByClassName('form-signin')[0].innerHTML += error_message;
        }
    </script>

</html>